body{
   margin: 5rem;
}

header h1{
    margin: auto;
    padding: 3px;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 25px;
    border: 5px solid #000084;
}

#linkNav{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
}

#linkNav li a{
    margin-right: 75px;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

#linkNav li :hover{
    color: #000084;
}

#description{
    text-align: center;
    margin: 25px;
}

#img-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#img-name img{
    width: 290px;
    height: 240px;
    order: 2;   
}

#img-name h1{
    order: 1;
    margin-right: 55px;
    font-size: 2rem;
}

#information{
    display: flex;
    flex-direction: row;
}

#information [id=rightNav]{
    justify-content: flex-start;
    margin-right: 22%;
    margin-left: 9%;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000084;
}

footer p{
    margin-right: 75px;
    color: #fff;
}